nav{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 300px;
    background-color: aqua;
    transition: all ease-in-out;
}

nav div{
    position: fixed;
    top: 40px;
    left: 40px;
    width: 60px;
    height: 60px;
    background-color: green;
}